<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email Template</title>
  <!-- CSS styles or external stylesheets -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body {
        font-family: 'Roboto', sans-serif;
    }
    /* Add styles here */
  </style>
</head>
<body>
  <!-- HTML email content -->
  <div style="width: 100%; 
              max-width: 500px;
              margin: auto;
              font-family: 'Roboto', sans-serif;">
    <header>
      <h1>New Contact Message</h1>
    </header>
    <main>
      <p>Hello, {{name}}!</p>
      <p>This is a sample email template.</p>
      <p>Feel free to customize this template according to your requirements.</p>
      <p>Best regards,<br>Your Name</p>
    </main>
    <footer>
      <p>&copy; 2023 Your Company</p>
    </footer>
  </div>
</body>
</html>
